#root {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  text-align: center;
  
}
.body{
  display: flex;
  background-color: aqua;
  min-height: 844px;
  flex-direction: column;
}
.header{
  background-color: rgb(60, 42, 182);
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.sub-header{
  background-color: red;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
